html{
    font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Roboto', sans-serif; 
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: darkgrey
}
.logo{
    display: flex;
    align-items: center;
}
.name{
    margin-left: 20px;
    font-size: 40px;
    color: whitesmoke;
}
.menu-bar{
    display: flex;
}
.buttons{
    display: flex;
}
.btn{
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;

}
.logo:hover,
.btn:hover{
    transform: scale(1.2);
}
.imgBtn{
    width: 60px;
    height: 60px;
    margin-right: 20px;
}
.colorBtn{
    width: 60px;
    height: 45px;
    margin-right: 20px;
    border-radius: 15%;
    margin-top: 5px;
    font-size: 17px;
}
.blue{
    background-color: #3b88c3;
}
.yellow{
    background-color: #fbbe28;
}
.pink{
    background-color: #fd7f84;
}
.items{
    width: 60%;
    height: 60%;
    list-style: none;
    padding-left: 0;
    overflow-y: scroll;
}
.item{
    background-color: white;
    display: flex;
    align-items: center;
    padding: 15px;
    margin-bottom: 10px;
}
.item_thumbnail{
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
.item_detail{
    font-size: 15px;
}

